.c-task {
  display: grid;
  align-items: center;
  grid-template-columns: 25px 1fr 25px;
  grid-gap: 7px;
  margin-top: 30px;
  &__input {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 7px;
  }
  &__text {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    color: #333333;
  }
  &__icon {
    color: #BDBDBD;
    cursor: pointer;
  }
  &.is-done {
    .c-task__text {
      text-decoration: line-through;
    }
  }
}
