<div class="c-todo">
  <div class="c-todo__content">
    <div class="c-todo__title">#todo</div>
    <div class="c-todo__tabs">
      <div class="c-todo__tab">All</div>
      <div class="c-todo__tab">Active</div>
      <div class="c-todo__tab">Completed</div>
    </div>
    <div class="c-todo__tab-content">
      <app-searchbox></app-searchbox>
      <app-task></app-task>
    </div>
    <div class="c-todo__tab-content">
      <app-searchbox></app-searchbox>
    </div>
    <div class="c-todo__tab-content"></div>
  </div>
</div>
