<div class="c-todo">
  <div class="c-todo__content">
    <div class="c-todo__title">#todo</div>
    <div class="c-todo__tabs">
      <div class="c-todo__tab {{activeTab === 1 ? 'is-active' : ''}}" (click)="setActive(1)">All</div>
      <div class="c-todo__tab {{activeTab === 2 ? 'is-active' : ''}}" (click)="setActive(2)">Active</div>
      <div class="c-todo__tab {{activeTab === 3 ? 'is-active' : ''}}" (click)="setActive(3)">Completed</div>
    </div>
    <div class="c-todo__tab-content" *ngIf="activeTab === 1">
      <app-addbox></app-addbox>
      <div *ngFor="let task of taskService.taskArray">
        <app-task [task]="task" [showTrashIcon]=false></app-task>
      </div>
    </div>
    <div class="c-todo__tab-content" *ngIf="activeTab === 2">
      <app-addbox></app-addbox>
      <div *ngFor="let task of taskService.taskArray">
        <app-task [task]="task" *ngIf="!task.isDone"></app-task>
      </div>
    </div>
    <div class="c-todo__tab-content" *ngIf="activeTab === 3">
      <div *ngFor="let task of taskService.completedTaskArray">
        <app-task [task]="task" *ngIf="task.isDone" [showTrashIcon]=true></app-task>
      </div>
      <div *ngIf="taskService.completedTaskArray.length > 0" class="c-todo__delete-all" (click)="deleteAllTasks()"><span class="c-todo__delete-all-icon material-icons">delete_outline</span> delete all</div>
    </div>
  </div>
  <div class="c-todo__footer">
    Made by <a href="https://devchallenges.io/profile/CA4R45moGF3poY1o6OW6" target="_blank">@Brezo</a> for <a href="https://devchallenges.io/" target="_blank">@DevChallenges</a>
  </div>
</div>
